@model ProcCore.Business.Logic.q_ProgData
@using ProcCore.Business.Logic.TablesDescription
@using ProcCore.JqueryHelp
@using ProcCore.JqueryHelp.JQGridScript
@using ProcCore.JqueryHelp.CustomButton

@section IncludeScript{
    @Html.Partial("Manage/includeScript_Comm")
    @Html.Partial("Manage/includeScript_Grid")
}
@section menu{
    @Html.Raw(Session["MenuHtmlString"].ToString())
}
@{
    ProgData Tab = new ProgData();

    FormatterColumnScript f_col_id = new FormatterColumnScript();
    f_col_id.FunctionName = CommWebSetup.funNameMasterDataFormatterID;
    f_col_id.FunctionString = Html.GridIDColumnCommScriptContext(CommWebSetup.MasterGridID, Url.Action(CommWebSetup.acNameEditMasterDataByID));



    jqGrid jdSub = Html.jqSubGrid(
                                Url.Action("ajax_MasterSubGridData"),
                                Url.Action(CommWebSetup.acNameSubDataDelete),
                                Url.Action(CommWebSetup.acNameSubDataUpdateData), null, null,
                                new MakeColumnModule() { CN = Resources.Res.ColModify, CM = { name = "modify", key = true, width = "30px", AssignFormatter = f_col_id } },
                                new MakeColumnModule() { CN = Html.FLang(Tab.prog_name.N), CM = { name = Tab.prog_name.N, width = "180px" } },
                                new MakeColumnModule() { CN = Html.FLang(Tab.area.N), CM = { name = Tab.area.N, width = "120px" } },
                                new MakeColumnModule() { CN = Html.FLang(Tab.controller.N), CM = { name = Tab.controller.N, width = "120px" } },
                                new MakeColumnModule() { CN = Html.FLang(Tab.sort.N), CM = { name = Tab.sort.N, width = "90px" } });


    jdSub.GridModule.postData.Add("id", "id");
    jdSub.ToScriptHandle();
                                
    jqGrid gridobj = Html.jqGrid_Standard(
    CommWebSetup.MasterGridID,
    (String)ViewBag.Caption,
    ViewData["Page"].ToString(),
    ViewData["AppendQuertString"].ToString(),
    Url.Action(CommWebSetup.acNameMasterDataGridUrl),
    Url.Action(CommWebSetup.acNameMasterDataDelete),
    Url.Action(CommWebSetup.acNameEditMasterDataAddNew),
    CommWebSetup.MasterGridDefHight, 10, jdSub,
    new MakeColumnModule() { CN = Resources.Res.ColModify, CM = { name = Tab.id.M, key = true, width = "30px", AssignFormatter = f_col_id } },
    new MakeColumnModule() { CN = Html.FLang(Tab.prog_name.M), CM = { name = Tab.prog_name.M, width = "120px" } },
    new MakeColumnModule() { CN = Html.FLang(Tab.area.M), CM = { name = Tab.area.M, width = "120px" } },
    new MakeColumnModule() { CN = Html.FLang(Tab.controller.M), CM = { name = Tab.controller.M, width = "120px" } },
    new MakeColumnModule() { CN = Html.FLang(Tab.action.M), CM = { name = Tab.action.M, width = "120px" } },
    new MakeColumnModule() { CN = Html.FLang(Tab.sort.M), CM = { name = Tab.sort.M, width = "60px" } }
    );
    gridobj.ToScriptHandle();
}


<form>
    <fieldset>
        <legend class="@ViewBag.css_Edit_Subtitle_CaptionCss">@Resources.Res.Search</legend>
        @Html.HiddenFor(x => x.page)

        @Html.LabelFor(x => x.s_prog_name, Html.Lang(x => x.s_prog_name))：
        @Html.TextBoxFor(x => x.s_prog_name)

        @Html.LabelFor(x => x.s_area, Html.Lang(x => x.s_area))：
        @Html.TextBoxFor(x => x.s_area)

        @Html.LabelFor(x => x.s_controller, Html.Lang(x => x.s_controller))：
        @Html.TextBoxFor(x => x.s_controller)
        <button type="button" id="@CommWebSetup.eleNameSearchButton">@Resources.Res.Search</button>
    </fieldset>
</form>
@Html.Raw(gridobj.jqGridHtml)
@Html.OpenDialogPlugin(ViewData["DialogTitle"].ToString(), ViewData["DialogMessage"].ToString())
@{
    jqSelector jqId_btn_sch = new jqSelector() { IdName = CommWebSetup.eleNameSearchButton };
    //
    jqButton btn_sch_fmwk = new jqButton(jqId_btn_sch);
    btn_sch_fmwk.options.icons.primary = FrameworkIcons.ui_icon_search;
    //
    jqElementEvent btn_sch_evt_clk = new jqElementEvent(jqId_btn_sch);
    btn_sch_evt_clk.events.Add(new jqElementEvent.jqEvents()
    {
        htmlElementEvent = HtmlObjectEvent.click,
        funcString = @"
$('#" + CommWebSetup.MasterGridID + @"').setGridParam({postData: null});
$('#" + CommWebSetup.MasterGridID + @"')." + Html.setGridParam_postData(x => x.s_prog_name) + @"
$('#" + CommWebSetup.MasterGridID + @"')." + Html.setGridParam_postDataRadio(x => x.s_area) + @"
$('#" + CommWebSetup.MasterGridID + @"')." + Html.setGridParam_postDataRadio(x => x.s_controller) + @"
$('#" + CommWebSetup.MasterGridID + @"').trigger('reloadGrid');
"
    });
}
<script type="text/javascript">
    $(document).ready(function () {
        @Html.Raw(gridobj.jqGridScript)
        @Html.Raw(btn_sch_fmwk.ToScriptString())
        @Html.Raw(btn_sch_evt_clk.ToScriptString())
    });

    (function ($) {
         @Html.Raw(gridobj.jqFormatterScript)
    })(jQuery);
</script>
