@model ProcCore.Business.Logic.Password

@using ProcCore;
@using ProcCore.WebCore;
@using ProcCore.JqueryHelp;
@using ProcCore.JqueryHelp.FormvValidate;
@using ProcCore.JqueryHelp.CustomButton;
@using ProcCore.JqueryHelp.AddValidator;

@section IncludeScript{
    @Html.Partial("Manage/includeScript_Comm")}
@section menu{
    @Html.Raw(Session["MenuHtmlString"].ToString())
}

@{
    FormValidateSetup val_frm_a = new FormValidateSetup(new jqSelector() { IdName = CommWebSetup.eleNameMasterDataForm });

    val_frm_a.Add(Html.FieldsRuleSetup(x => x.password_n, new FieldRule() { required = true }, null, null));
    val_frm_a.Add(Html.FieldsRuleSetup(x => x.password_o, new FieldRule() { required = true }, null, null));
    val_frm_a.Add(Html.FieldsRuleSetup(x => x.password_s, new FieldRule() { required = true }, null, null));

    jqSelector jq_for_btn_rtn = new jqSelector() { IdName = "btn_return_list" };
    jqSelector jq_for_btn_sbm = new jqSelector() { IdName = "btn_submit" };
    funcMethodModule func = Html.CommSetFormOnSuccesss();
}

@using (Ajax.BeginForm(null, null, new AjaxOptions() { Url = Url.Action("ajax_MasterUpdataPassword"), HttpMethod = "post", OnSuccess = func.funcName }, new { id = CommWebSetup.eleNameMasterDataForm }))
{
    @Html.HiddenFor(x => x.id)
    @Html.HiddenFor(x => x.EditType)

    <div class="@ViewBag.css_Edit_Master_CaptionCss">
        @Html.Lang("changepassword")
    </div>
    <fieldset>
        <legend title="" class="@ViewBag.css_Edit_Subtitle_CaptionCss">
            @Html.Lang("changeinfo")
        </legend>
        <table>
            <tr>
                <th class="@ViewBag.css_EditFormFieldsNameCss">@Html.FieldLang(x => x.password_o)</th>
                <td>@Html.PasswordFor(x => x.password_o, new { @maxlenght = 16, @size = 12 })</td>
            </tr>
            <tr>
                <th class="@ViewBag.css_EditFormFieldsNameCss">@Html.FieldLang(x => x.password_n)</th>
                <td>@Html.PasswordFor(x => x.password_n, new { @maxlenght = 16, @size = 12 })</td>
            </tr>
            <tr>
                <th class="@ViewBag.css_EditFormFieldsNameCss">@Html.FieldLang(x => x.password_s)</th>
                <td>@Html.PasswordFor(x => x.password_s, new { @maxlenght = 16, @size = 12 })</td>
            </tr>
        </table>
    </fieldset>
    <div class="@ViewBag.css_EditFormNavigationFunctionCss">
        <button type="submit" id="@jq_for_btn_sbm.IdName">
            @Resources.Res.Button_Sure_Modify
        </button>
    </div>
}
@{
    //===
    jqButton btn_sbm_fmwk = new jqButton(new jqSelector() { IdName = jq_for_btn_sbm.IdName });
    btn_sbm_fmwk.options.icons.primary = FrameworkIcons.ui_icon_check;

    jqElementEvent btn_rtn_evt_clk = new jqElementEvent(jq_for_btn_rtn);
    btn_rtn_evt_clk.events.Add(new jqElementEvent.jqEvents() { htmlElementEvent = HtmlObjectEvent.click, funcString = "document.location.href='" + Url.Action(CommWebSetup.acNameEditFormReturnGridList) + "?' + $('#returnQueryString').val();" });
}
<script type="text/javascript">
    $(document).ready(function () {

        @Html.Raw(val_frm_a.ToScriptString())
        @Html.Raw(btn_sbm_fmwk.ToScriptString())
        @Html.Raw(btn_rtn_evt_clk.ToScriptString())
        @Html.Raw(func.ToScriptString())

    });

    (function ($) {
    })(jQuery);
</script>
