@model ProcCore.Business.Logic.m_Parm
@using ProcCore.JqueryHelp;
@using ProcCore.JqueryHelp.DateTimePickerHelp;
@using ProcCore.JqueryHelp.FormvValidate;
@using ProcCore.JqueryHelp.CustomButton;
@section IncludeScript{
    @Html.Partial("Manage/includeScript_Comm")
    @Html.Partial("Manage/includeScript_FineUpload")
}
@section menu{
    @Html.Raw(Session["MenuHtmlString"].ToString())
}
@{
    FormValidateSetup val_frm_a = new FormValidateSetup(new jqSelector() { IdName = CommWebSetup.eleNameMasterDataForm });

    jqSelector jq_for_btn_rtn = new jqSelector() { IdName = "btn_return_list" };
    jqSelector jq_for_btn_sbm = new jqSelector() { IdName = "btn_submit" };
    jqSelector jq_for_btn_opfle_fmwk = new jqSelector() { IdName = "btn_opdlg_fles" };
    jqSelector jq_for_btn_opimg_fmwk = new jqSelector() { IdName = "btn_opdlg_imgs" };

    funcMethodModule func = Html.CommSetFormOnSuccesss();
}
@using (Ajax.BeginForm(null, null, new AjaxOptions() { Url = Url.Action(CommWebSetup.acNameMasterDataUpdateData), HttpMethod = "post", OnSuccess = func.funcName }, new { id = CommWebSetup.eleNameMasterDataForm }))
{
    <input type="hidden" id="returnQueryString" name="returnQueryString" value="@Html.Raw(ViewBag.QueryString)" />

    <div class="@ViewBag.css_Edit_Master_CaptionCss">
        @ViewBag.Caption
    </div>
    <fieldset>
        <legend class="@ViewBag.css_Edit_Subtitle_CaptionCss">@Html.Lang("ParmWeb")</legend>
        <table>
            <tr>
                <th class="@ViewBag.css_EditFormFieldsNameCss">@Html.FieldLang(x => x.Open)</th>
                <td>
                    @Html.RadioButtonFor(x => x.Open, true)<span>開啟</span>
                    @Html.RadioButtonFor(x => x.Open, false)<span>關閉</span>
                </td>
            </tr>
            <tr>
                <th class="@ViewBag.css_EditFormFieldsNameCss">@Html.FieldLang(x => x.DF_Can_Sell_Amt)</th>
                <td>
                    @Html.TextBoxFor(x => x.DF_Can_Sell_Amt, new { type = "number" })
                </td>
            </tr>

        </table>
    </fieldset>

    <div class="@ViewBag.css_EditFormNavigationFunctionCss">
        <button type="submit" id="@jq_for_btn_sbm.IdName">
            @Resources.Res.Button_Sure_Modify
        </button>
        <button type="button" id="@jq_for_btn_rtn.IdName">@Resources.Res.Button_Return</button>
    </div>
}

@{
    //===
    jqButton btn_sbm_fmwk = new jqButton(new jqSelector() { IdName = jq_for_btn_sbm.IdName });
    btn_sbm_fmwk.options.icons.primary = FrameworkIcons.ui_icon_check;

    //===
    jqButton btn_rtn_fmwk = new jqButton(jq_for_btn_rtn);
    btn_rtn_fmwk.options.icons.primary = FrameworkIcons.ui_icon_arrowreturnthick_1_w;

    jqElementEvent btn_rtn_evt_clk = new jqElementEvent(jq_for_btn_rtn);
    btn_rtn_evt_clk.events.Add(new jqElementEvent.jqEvents() { htmlElementEvent = HtmlObjectEvent.click, funcString = "document.location.href='" + Url.Action(CommWebSetup.acNameEditFormReturnGridList) + "?' + $('#returnQueryString').val();" });
    //===
    jqButton btn_opfle_fmwk = new jqButton(new jqSelector() { IdName = jq_for_btn_opimg_fmwk.IdName });
    btn_opfle_fmwk.options.icons.primary = FrameworkIcons.ui_icon_arrow_4_diag;
    //===
    jqButton btn_opimg_fmwk = new jqButton(new jqSelector() { IdName = jq_for_btn_opfle_fmwk.IdName });
    btn_opimg_fmwk.options.icons.primary = FrameworkIcons.ui_icon_arrow_4_diag;

}
<script type="text/javascript">
    $(document).ready(function () {
        @Html.Raw(val_frm_a.ToScriptString())
        @Html.Raw(btn_sbm_fmwk.ToScriptString())
        @Html.Raw(btn_rtn_fmwk.ToScriptString())
        @Html.Raw(btn_rtn_evt_clk.ToScriptString())
        @Html.Raw(func.ToScriptString())
    });
    (function ($) {
    })(jQuery);
</script>
